    .mt10{margin-top: 10px;}.mt20{margin-top: 20px;}.mt30{margin-top: 30px;}.mt40{margin-top: 40px;}.mt50{margin-top: 50px;}.mt60{margin-top: 60px;}.mt70{margin-top: 70px;}.mt80{margin-top: 80px;}.mt90{margin-top: 90px;}.mt100{ margin-top: 100px;}
    .mb10{margin-bottom: 10px;}.mb20{margin-bottom: 20px;}.mb30{margin-bottom: 30px;}.mb40{margin-bottom: 40px;}.mb50{margin-bottom: 50px;}.mb60{margin-bottom: 60px;}.mb70{margin-bottom: 70px;}.mb80{margin-bottom: 80px;}.mb90{margin-bottom: 90px;}.mb100{ margin-bottom: 100px;}
    .noticias-ruim{background: #E86666; line-height: 60px; display: block; width: 100%; text-align: center; color: #fff;}
    .noticias-boas{background: #90BA66; line-height: 60px; display: block; width: 100%; text-align: center; color: #fff;}

    .border-left{border-right: 1px solid #137EBF;}
    .menu-topo{font: normal 15px 'Open Sans', sans-serif; color: #147EBF; text-align: center; padding: 10px 0; border-bottom: 15px solid #127DC3;}

    .line-1{width: 100%; height: 1px; background: #127DC3;}
    .line-2{width: 100%; height: 1px; background: #EEEEEE;}
    .link-solicitacoes{display: block; background: #fff; text-align: center; font: normal 15px 'Open Sans', sans-serif; color: #137EBF; transition: all .3s ease-in-out;}
    .link-solicitacoes:hover{background: #127DC3; color: #fff; transition: all .3s ease-in-out;}
    .link-solicitacoes .dt-80{height: 80px; display: table; width: 100%;}
    .link-solicitacoes .dt-80 .dt-c{display: table-cell; vertical-align: middle;}

    header{line-height: 160px !important; color: #137EC0; font: normal 15px 'Open Sans', sans-serif; border-bottom: 1px solid #157EC2;}
    .sair{display: inline; width: auto; padding: 10px 40px; border: 1px solid #137EC0; border-radius: 15px;}

    .form-aqui{border: 1px solid #137EC0; border-radius: 10px; padding: 30px;}
    .form-aqui input{border: 1px solid #ccc; border-radius: 5px; padding: 0 20px; line-height: 50px !important;width: 100%;}
    .form-aqui input[type=submit]{background: #137EC0; border-radius: 5px; padding: 0 40px; line-height: 50px !important;width: auto; margin: auto; display: block; color: #fff;}

    h1 {text-align: center; width: 100%;}
    .link-do-face{color: #fff !important; background: #3b5998; width: 100%; display: block; line-height: 45px;}

    *{text-decoration: none;}
    ul{margin: 0;}
    .dropdown-menu{top: 60% !important;}
    footer{line-height: 60px; text-align: center;}

    .p-difere{font: normal 15px 'Open Sans', sans-serif; color: #147EBF;}
    .dt-alinha{height: 40px; display: table; width: 100%;}
    .dt-alinha .dt-c{display: table-cell; vertical-align: middle; width: 100%;}